<table class="table">
  <thead>
  <tr>
    <th>First Name</th>
    <th>last Name</th>
    <th>Avatar</th>
  </tr>
  </thead>

  <tbody>
  <% @user.each do |user| %>
    <tr>
      <td><%=user.first_name %></td>
      <td><%=user.last_name %></td>
      <td><%= image_tag("#{user.avatar}") %></td>
    </tr>
  <% end %>
  </tbody>
</table>